<style>
  .parent {
    height: 40px;
    width: 170px;
    display: flex;
    padding: 10px;
    margin: 10px;
  }

  .child {
    text-align: center;
    color: rgb(37, 4, 133);
    font-weight: bolder;
    font-size: 12pt;
    font-family: Arial;
    align-items: center;
  }
</style>

<portal-supportdashboard></portal-supportdashboard>

<!-- <portal-mysapworkflow></portal-mysapworkflow> -->


<!-- <div style="width: 100%;" fxLayout="column" fxLayoutGap="5px">

  <div fxLayout="row" fxLayoutAlign="space-around center"
    style="padding: 15px; margin-left: 15px; margin-right: 15px;">
    <div fxLayout="column" fxFlex.gt-lg="50" fxFlex.gt-md="80" fxFlex.gt-sm="90" fxFlex.lt-md="100" fxFlex.lt-sm="100">
      <mat-accordion style="color:lightblue;" class="lowHeight">
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false"
          style="background:rgb(221, 235, 241) ;" expanded="true">
          <mat-expansion-panel-header >
            <mat-panel-title>
              <div style="margin: auto; font-size: 16px; font-weight: bold; color: navy;">Support Requests Dashboard</div>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <portal-mysapworkflow></portal-mysapworkflow>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div> 

</div> -->