 
<style>
    mat-form-field { /* Changes the input styling to just about nothing so that button styling can take over */
      font-size: 12px;
      margin-top: -25px;
      height: 55px;
    }
    
    mat-select{
      font-size: 12px;
      margin-top: -25px;
    }
    
    mat-form-field > input {
       margin-top: -25px;
    }   

         
    </style>
    
    <style>
      table, th, td {
        border: 1px solid black;
      }  
    
      .div-outer-table {
          overflow-x: scroll;
          display: inline-grid;
       }   
    </style>
    
    <style>
       label{
          color:Navy;
          font-family: 'arial', 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
       } 
    </style>
    
    <style>
       mat-form-field { /* Changes the input styling to just about nothing so that button styling can take over */
         font-size: 12px;
         margin-top: -25px;
         height: 55px;
       }
       
       mat-select{
         font-size: 12px;
         margin-top: -25px;
       }
       
       mat-form-field > input {
          margin-top: -25px;
       }      

            
       </style>
       
       <style>
         table, th, td {
           border: 1px solid black;
         }  
       
         .div-outer-table {
             overflow-x: scroll;
             display: inline-grid;
          }   
       </style>
       
       <style>
          label{
             color:Navy;
             font-family: 'arial', 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
          } 
       </style>
    
    



<link href="https://unpkg.com/@angular/material/prebuilt-themes/indigo-pink.css" rel="stylesheet">
    
    <div style="width: 100%; margin: auto;">
       <div style="width: 100%; background-color: #bdbfc2;">
          <form noval fxLayout="column" fxFlex="1 1 100" class="frmCont panel" style="background-color: #f0f2f7;">

    
              <div fxLayout="column" fxFlex="1 1 100">
                 <div class="panel-body" fxFlex="1 1 100">
                     <div fxLayout="column" fxFlex="1 1 100">
                         <div fxLayout="column" style="background-color: whitesmoke; padding: 15px; margin-left: 15px; margin-right: 15px;">
                             <div class="panel-body" fxFlex="1 1 100" fxLayout="column" fxLayoutGap="0px">
                             
    
                                  <div fxFlex ="100" fxLayout="row" fxLayout.xs="column" fxLayoutGap="5px">
                                     <div fxFlex ="1 1 100" fxLayout="row" fxLayoutAlign="space-between start">
                                        <div fxFlex="1 1 100" fxLayout="row" class="div-outer-table">
                                    
                                           <table class="table" formArrayName="AssignedTasks">
                                             <thead class="thead bg-info">
                                               <tr>
                                                 <th >#</th>
                                                 <th scope="col">Task ID</th>
                                                 <!-- <th scope="col">ReferenceNo</th> -->
                                                 <th scope="col" class="text-center">
                                                    <tr>
                                                       <th scope="col">#</th>
                                                         <th scope="col" style="width:125px">Task Title</th>
                                                         <th scope="col" style="width:128px">Task Description</th>
                                                         <!-- <th scope="col">Gender</th> -->
                                                         <th scope="col" style="width:78px">Assigned To</th>
                                                         <th scope="col" style="width:78px">Expected Start Date Time</th>
                                                         <th scope="col" style="width:88px">Actual Start Date Time</th>
                                                         <th scope="col" style="width:118px">Expected End Date Time</th>
                                                         <th scope="col" style="width:118px">Actual Start Date Time</th>
                                                         <th scope="col" style="width:118px">Total Time (Hour)</th>
                                                         <th scope="col" style="width:118px">Comments</th>
                                                         <th scope="col">Action</th>
                                                    </tr>
                                                 </th>
                                                 
                                                 <th scope="col">Action</th>
                                               </tr>
                                             </thead>
                                             <tbody>
                                               <tr [formGroupName]="0">
                                                 <td>1</td>
                                                 <td><input class="form-control" type="text" placeholder="TaskId" style="width:125px" readonly disabled></td>
                                                 <!-- <td><input class="form-control" type="text" placeholder="ReferenceNo" formControlName="ReferenceNo"></td> -->
                                                 <td>
                                                   <table class="table table-sm" >
                                                     <!-- <thead>
                                                       <tr>
                                                         <th scope="col">#</th>
                                                         <th scope="col" style="width:115px">Parameter</th>
                                                         <th scope="col" style="width:120px">TestResult</th>
                                                         <th scope="col" style="width:70px">Unit</th>
                                                         <th scope="col" style="width:70px">RL</th>
                                                         <th scope="col" style="width:80px">LimitValue</th>
                                                         <th scope="col" style="width:90px">ResComment</th>
                                                         <th scope="col">Action</th>
                                                       </tr>
                                                     </thead> -->
                                                     <tbody>
                                                       <tr [formGroupName]="0">
                                                         <td>
                                                           1
                                                         </td>
                                                         <td>
                                                           <input type="text" formControlName="TaskTitle" class="form-control" placeholder="Task Title" style="width:117px">
                                                         </td>
                                                         <td>
                                                          <input type="text" formControlName="TaskDescription" class="form-control" placeholder="Task Description" style="width:120px">
                                                        </td>
                                                         <!-- <td>
                                                           <select (change)="onSelectItem($event,i)" class="form-control" formControlName="gen_id">
                                                             <option value="null" hidden>-- Select Item --</option>
                                                             <option *ngFor="let item of items"  [value]="item.id">
                                                                {{item.name}}
                                                             </option>
                                                            </select>
                                                         </td> -->
                                                         <td>
                                                           <input type="text" formControlName="AssignedTo" class="form-control" placeholder="Assigned To" style="width:70px">
                                                         </td>
                                                         <td>
                                                           <input type="text" formControlName="ExpectedStartDate" class="form-control" placeholder="Expected Start Date Time" style="width:70px">
                                                         </td>
                                                         <td>
                                                           <input type="text" formControlName="ActualStartDate" class="form-control" placeholder="Actual Start Date Time" style="width:80px">
                                                         </td>
                                                         <td>
                                                           <input type="text" formControlName="ExpectedEndDate" class="form-control" placeholder="Expected End Date Time" style="width:110px">
                                                         </td>
                                                         <td>
                                                            <input type="text" formControlName="ActualEndDate" class="form-control" placeholder="Actual End Date Time" style="width:110px">
                                                          </td>
                                                          <td>
                                                            <input type="text" formControlName="TotalTime" class="form-control" placeholder="Total Time (Hour)" style="width:110px">
                                                          </td>
                                                          <td>
                                                            <input type="text" formControlName="Comments" class="form-control" placeholder="Comments" style="width:110px">
                                                          </td>
                                                         <td>
                                                           <button class="btn btn-success" type="button">Add+</button>
                                                           <button class="btn btn-danger" type="button">Remove-</button>
                                                         </td>
                                                       </tr>
                                                     </tbody>
                                                   </table>
                                                 </td>
                                                 <td>
                                                   <button class="btn btn-success" style="float:left;" type="button">Add+</button>
                                                   <button class="btn btn-danger" style="float:right;" type="button">remove-</button>
                                                 </td>
                                               </tr>
                                             </tbody>
                                           </table>
                                         </div>
                                        
                                     </div>
                                     
                                  </div>
                             </div>
    
    
                            <!-- <div fxFlex="100" fxLayout="row" >
                               <div class="div-outer-table">
                                   <div fxLayout="column" class="table-responsive">
                                       <table class="table table-bordered table-hover table-striped table-condensed css-serial">
                                           <tbody>
                                              <tr class="form-group" bgcolor="#C6D7F7">
                                                 <th colspan="7">
                                                     <label>TEST RESULTS</label>
                                                 </th>
                                              </tr>
                                               <tr class="form-group" bgcolor="#C6D7F7">
                                                   <th style="min-width:50px">
                                                       <label>Sample ID</label>
                                                   </th>
                                                   <th style="min-width:100px">
                                                       <label>Sample Ref.</label>
                                                   </th>
                                                   <th style="min-width:100px">
                                                       <label>Test Result</label>
                                                   </th>
                                                   <th style="min-width:50px">
                                                       <label>Unit</label>
                                                   </th>
                                                   <th style="min-width:100px">
                                                       <label>RL</label>
                                                   </th>
                                                   <th style="min-width:100px">
                                                       <label>Limit value</label>
                                                   </th>
                                                   <th style="min-width:100px">
                                                       <label>Comment</label>
                                                   </th>
                                               </tr>                                           
                                                 <tr class="form-group" >
                                                   <td style="min-width:50px">
                                                       <input class="form-control" type="text" >
                                                   </td>
                                                   <td style="min-width:50px">
                                                       <input class="form-control" type="text" >
                                                   </td>
                                                   <td style="min-width:100px">
                                                       <input class="form-control" type="text" >
                                                   </td>
                                                   <td style="min-width:50px">
                                                       <input class="form-control" type="text" >
                                                   </td>
                                                   <td style="min-width:100px">
                                                       <input class="form-control" type="text" >
                                                   </td>
                                                   <td style="min-width:100px">
                                                       <input class="form-control" type="text" >
                                                   </td>
                                                   <td style="min-width:100px">
                                                       <input class="form-control" type="text" >
                                                   </td>
                                               </tr>
                                           </tbody>
                                       </table>
                                   </div>
                               </div>
                            </div> -->
                          </div>
                       </div>
                       
                    </div>
              </div>                     
              <br/> 

          </form>
      </div>
    </div>
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    


    

    

